body{
	margin:0;
}
.banner{
	height: 600px;
	background-color: #ACC3EC;
}
.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	height: 135px;
	background-color: #134987;
}
.navigation{
	height: 50px;
	background-color: #B8CDE7;
	margin-bottom: 320px;
}
.navigation1{
	height: 180px;
	background-color: #12518E;
}
.container1{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	margin-bottom: 150px;
}
.col1{
	width: 270px;
	float: left;
}
.staff{
	height: 370px;
	background-color: #FFFFFF;
	color: black;
	border:dotted 1px;
	margin-top: 80px;
}
.about{
	height: 510px;
	background-color: #FFFFFF;
	color: black;
	border:dotted 1px;

}
.down{
	height: 250px;
	background-color: #FFFFFF;
	color: black;
	border:dotted 1px;
}
.col2{
	width: 460px;
	float: left;
}
.welcome{
	height: 310px;
	background-color: #FFFFFF;
	color:black;
	border:dotted 1px;
	margin-top: 80px;
}
.message{
	height: 450px;
	background-color: #FFFFFF;
	color: black;
	border:dotted 1px;
}
.video{
	height: 370px;
	background-color: #FFFFFF;
	color:black;
	border:dotted 1px;
}
.col3{
	width: 270px;
	float: left;
}
.announ{
	height: 260px;
	background-color: #FFFFFF;
	color: black;
	border:dotted 1px;
	margin-top: 80px;
}
.news{
	height: 170px;
	background-color: #FFFFFF;
	color: black;
	border:dotted 1px;
}
.events{
	height: 700px;
	background-color: #FFFFFF;
	color: black;
	border:dotted 1px;
}
.footer{
	height: 115px;
	background-color: #0B3A68;
	clear: both;
}
